AUTHON_API_KEY=sk_live_your_secret_key
AUTHON_PROJECT_ID=your_project_id
AUTHON_API_URL=https://api.authon.dev
AUTHON_WEBHOOK_SECRET=your_webhook_secret
DJANGO_SECRET_KEY=your_django_secret_key
PORT=3000
